.sidebar {
  position: relative;
  top: 0px;
  left: 0px;
  width: 272px;
  height: 1148px;
  background: #F7F7F7 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  z-index: 10000;
}

.top {
  /* position: relative; */

  /* left: 272px; */
  /* width: 100%; */

  background: #F7F7F7 0% 0% no-repeat padding-box;
  opacity: 1;
}